<div class ="container">
    
    <div class="recipe-container">
    <h2 class="header">
        About Confetti Cuisine
    </h2>

    <div class="aboutus">
        <img src="images/kitchen.jpg" alt = "">
        <p>Welcome to Confetti Cuisine! We are glad that you have stopped by to check out our website! Our establishment began back in 2001 and we couldn’t have been any happier with our success with serving. We offer many opportunities to learn in the culinary field. Check out our recipe page for our top most favorite easy breakfasts. </p>
      </div>
    </div>
</div>