<div class ="container">
    
    <div class="recipe-container">
    <h2 class="header">
        Meet your Instructors!
    </h2>

    <div class="people">
        <img src="images/chef1.png" alt = "">
      <h2>Cindy Cohen </h2>
        <p>Meet Cindy Cohen. Cindy has been instructing at Confetti for 5 years! She has been a huge part on our team with winning multiple state and regional awards. Many say she's the best but Cindy is top notch!</p>
      </div>

      <div class="people">
        <img src="images/chef2.jpg" alt = "">
      <h2>Tom Spor </h2>
        <p>Tom Spor, our leader and founder of Confetti. He has had a vision to reach out to the youngster to teach how to cook. Cooking can be overwhelming but it is the foundation to happiness. Tom once realized his skills were in culinary and dishes were and still are fantastic.</p>
      </div>

      <div class="people">
        <img src="images/chef3.jpg" alt = "">
      <h2>Diego Tunes</h2>
        <p>Diego is apart of our team as he specializes in desserts courses. He joined us in 2005 and will show you how to visually please your guests with eye and breath-taking desserts. Diego is the man you will see when you reach the dessert part of our course!</p>
      </div>
    </div>
</div>