<div class ="container">
    
    <div class="recipe-container">
    <h2 class="header">
        Easy Recipes to make at home!
    </h2>

    <div class="breakfast">
        <img src="images/oatmeal.jpg" alt = "">
      <h2>How to make Microwavable Oatmeal </h2>
        <p>Take your microwavable bowl and place 1 cup of oats. You will add of your choice milk or water. Add 1/2 cup or until oats are somewhat over the liquid. Take your bowl and place in microwave on high setting for 1 minute and 30 seconds. Take bowl out and add your chocolate chips and a dash of cinnamon for flavor. A simple ingredient made within 3 minutes.</p>
        <p>Ingredients — 3 eggs, salt, pepper, 1/2 cup vegetables, 1 serving of cheese, cooking spray. Time elapsed - 15 minutes // Time prep - 5 minutes </p>
      </div>
      
      <br>

      <div class="breakfast">
        <img src="images/veggies.jpg" alt = "">
      <h2>How to make an Egg Omelet </h2>
        <p>First you will crack your eggs into a bowl and whisk them. Take a pinch of salt and pepper for taste. Place a bot over a medium level fire. After few minutes, spray the cooking oil and place the eggs into pan. After 3 minutes of cooking eggs,place vegetables and cheese on a half side of eggs. Wait 2 more minutes and flip eggs. You are almost done! Let the egg simmer on to the vegetables and after a minute has gone you made your omelet!</p>
        <p>Ingredients — 1 cup of oats, 1/2 cup of milk or water, 1 serving of chocolate chips, a dash of cinnamon. Time elapsed - 3 minutes // Time prep - 1 minute</p>
      </div>

      <br>

    <div class="breakfast">
        <img src="images/oats2.jpg" alt = "">
      <h2>How to make Overnight oats </h2>
        <p>This recipe is for those who do not have time to cook. One of my favorites. Get a bottle or small mason jar and place one cup of oats. Then add your chia seeds after and add nut butter of choice. If you’d like, you can add a **protein powder for the extra boost. Add your milk and close the container. Give it a shake and let it sit overnight.</p>
        <p>Ingredients — bottle or mason jar, 1 cup of oats, 15g of chia seeds, 18g of almond or peanut butter, **1/2 scoop of protein powder (optional), 1/2 cup of milk. Time elapsed - 5 minutes // Time prep - 3 minute.</p>
      </div>
    </div>
</div>